body,
html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: yellow;

    grid-column: 2;
}

.sidebar {
    background-color: #0e92d6;
    color: white;
    font-weight: 500;

    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 10px;


}

.logo {
    font-size: 2rem;

    grid-row: 1;
    padding-left: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: flex-start;
}


.nav-1 {
    padding-top: 30px;
}

.nav-1, .nav-2 {
    align-self: start;
    padding-left: 20%;

    font-size: 24px;
    margin: 0;
    padding-left: 20%;

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
}

ul > li {
    display: flex;
}

.content {
    background-color: blue;

    grid-column: 2;
    grid-row: 2;
}