body,
html {
    height: 110%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: white;

    grid-column: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;

    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.5);
    position: relative;
}

.search-bar {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    gap: 10px;
}

.search-bar > img {
    height: 30px;
}

.user {
    grid-column: 1;
    grid-row: 2;
    align-self: end;

    display: flex;
    gap: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.user > img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.username-wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 4px;
}

.username, .username-2 {
    margin: 0;
}

.username {
    align-self: end;
    font-size: 18px;
    font-weight: 500;
}

.username-2 {
    align-self: start;
    font-size: 36px;
    font-weight: 700;
}

input[type="search"] {
    height: 30px;
    width: 70%;
    background-color: #e3e9f1;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.25rem;
}

.notifications {
    padding-top: 15px;

    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: 100px 100px 200px;
    gap: 20px;
    justify-content: end;
}

.bell {
    height: 30px;
    align-self: end;
    justify-self: end;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}

.notifications > p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    justify-self: start;
    align-self: end;
}

.sidebar {
    background-color: #0e92d6;
    color: white;
    font-weight: 500;

    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    gap: 10px;


}

.logo {
    font-size: 2rem;

    grid-row: 1;
    padding-left: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: start;

}


.nav-1 {
    padding-top: 30px;
}

.nav-1, .nav-2 {
    align-self: start;
    padding-left: 6.5%;

    font-size: 24px;
    margin: 0;

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
}

.svg {
    display: flex;
}

.svg > img {
    height: 24px;
    padding-right: 6px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: end;
    justify-items: center;
    padding-bottom: 20px;
}

.btn {
    width: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 1.625rem;
    border: none;
    background-color: #0e92d6;
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.content {
    background-color: #e3e9f1;

    grid-column: 2;
    grid-row: 2;
}